[user]
  name = Ahnaf Al Nafis
  email = ahnafalnafis@gmail.com

[core]
  editor = "vim --clean" # -u ~/.vim/minirc"
  autocrlf = input

[diff]
  tool = vimdiff

[credential]
  helper = store

[init]
  defaultBranch = master
