[Desktop Entry]
Name=Feh
Comment=A simple tool to set wallpapers.
Type=Application
Exec=feh --bg-fill /a/Photos/Wallpapers/Useless/0040.jpg
StartupNotify=false
Terminal=false
Hidden=false
