[Desktop Entry]
Name=Wallpaper setter
Comment=A simple script to set wallpapers.
Type=Application
Exec=/a/bin/walset
StartupNotify=false
Terminal=false
Hidden=false
